[build]
  functions = "netlify/functions"
  publish = "dist"
  command = "npm run build"
  
[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "VITE_RECAPTCHA_SITE_KEY"

[dev]
  command = "npm run dev"
  framework = "#custom"
  targetPort = 5173

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"
